.grid-cell-expression {
    border: 0;
    width: 100%;
}
.grid-cell-expression:focus {
    outline: none;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
