.jsr-grid {
    border: 1px solid #b0cbef;
    border-width: 1px 0px 0px 1px;
    font-size: 11pt;
    font-family: Calibri;
    font-weight: 100;
    border-spacing: 0px;
    border-collapse: collapse;
    @mixin headerStyle {
        text-align: center;
        background-color: #f0f0f0;
        cursor: default;
        font-weight: normal;
        font-size: 14px;
        border: 1px solid #cccccc;
        border-width: 0px 1px 1px 0px;
    }

    .grid-row-header {
        @include headerStyle;
        height: 24px;
        width: 32px;
    }

    th.selected,
    td.selected {
        border: 2px solid #217346 !important;
    }

    thead {
        &.jsr-builder-head {
            tr {
                height: 5px;

                &:last-child {
                    height: 18px;
                }

                th:not(:first-child):not(.grid-row-header) {
                    width: 140px;
                }

                th {
                    @include headerStyle;
                    font-size: 0px;

                    &.builder-head-grp {
                        border-top: 1px solid #d64700;
                        border-bottom: 1px solid #d64700;
                        background-color: #eb5e00;
                    }

                    &.builder-head-col {
                        min-height: 15px !important;
                    }
                }
            }
        }

        &.jsr-grid-head {
            tr {
                background-color: #ebedf0;

                th {
                    cursor: cell;
                    border: 0px;
                    padding: 0px 4px 0px 2px;
                    border: 1px solid #d0d7e5;
                    border-width: 0px 1px 1px 0px;
                }
            }
            tr:last-child {
                border-bottom: 2px solid #ccc;
            }
        }
    }

    tbody {
        &.jsr-grid-body {
            tr {
                background-color: white;

                td {
                    cursor: cell;
                    border: 0px;
                    padding: 0px 4px 0px 2px;
                    border: 1px solid #d0d7e5;
                    border-width: 0px 1px 1px 0px;
                }
            }
        }
    }
}

.jsr-expr-container {
    width: 100%;
    .field {
        width: 100%;

        textarea {
            width: 100%;
            height: 30px;
            min-height: 30px;
            max-height: 150px;
        }
    }
}
