/*.drop-grp > .component:first-child {
    & > .header-cntr {
        position: absolute;
    }
}

.drop-grp{
    .drop-grp{
        position: relative;
    }
}*/

.component {
    &.selected {
        border: 3px solid #217346;
    }

    /*& > .header-cntr {
        position: relative;
        width: 300px;
    }*/

    .header {
        height: 25px;
        /*display: none;
        position: absolute;
        top: -25px;
        width: 250px;*/
        padding: 2px 10px;
        cursor: move;
        border: 1px solid grey;
        background-color: lightyellow;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        z-index: 100;

        .pull-right {
            .fa {
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    /*&:hover {
        .header {
            display: block;
        }
    }*/
}
