.report-builder {
  width: 100%;
  height: 100%;

  .report-controls-cntr {
    width: 21%;
    height: 100%;
    border: 1px solid black;
    float: left;
  }

  .report-display-cntr {
    width: 78%;
    height: 100%;
    border: 1px solid black;
    float: right;
  }
}
