.report-builder {
    width: calc(100% - 5px);
    height: 100%;

    .report-controls-cntr {
        width: calc(22% - 4px);
        height: 100%;
        float: left;
        overflow-x: hidden;
    }

    .report-display-cntr {
        width: calc(78% - 4px);
        height: 100%;
        float: right;
    }
}
