.report-controls {
    width: calc(100% - 6px);

    .p-accordion-content {
        padding: 3px 5px;
    }

    .p-accordion {
        .p-accordion-header {
            & > a {
                padding: 0.229em 0.2em;
            }
        }
        .p-accordion-header-text {
            width: 90%;
        }
    }
}

.builtin-fields {
    .header {
        font-weight: bold;
        padding: 3px 0px;
    }
    .field {
        cursor: move;
        padding: 3px 0px 3px 8px;
    }
}

.func-list {
    .func-grp {
        .header {
            font-weight: bold;
        }
        .list {
            padding-left: 20px;

            .func {
                padding: 3px 0px;
            }
        }
    }
}
