.report-items {
  width: 100%;
  padding: 2px;

  .report-item {
    width: 100%;
    padding: 2px;
    float: left;
    cursor: move;
    border: 1px dashed grey;
    margin: 2px;

    & > span {
      float: left;
    }
  }
}
