.report-controls {
    .report-controls-ctr {
        border: 1px solid black;
        .p-accordion-content {
            padding: 3px 5px;
        }
    }
    .p-accordion {
        .p-accordion-header {
            & > a {
                padding: 0.229em 0.2em;
            }
        }
        .p-accordion-header-text {
            width: 90%;
        }
    }
}

.builtin-fields {
    .field {
        cursor: move;
        padding: 3px 0px;
    }
}

.func-list {
    .func-grp {
        .header {
            font-weight: bold;
        }
        .list {
            padding-left: 20px;

            .func {
                padding: 3px 0px;
            }
        }
    }
}
