.report-display {
    width: 100%;

    .message-no-items {
        width: 100%;
        border: 3px dashed black;
        font-size: 30px;
        text-align: center;
        padding: 90px 20px;
    }
}
